:root {
  --mainColor: #338eda;
  --secondaryColor: #fff;
  --lightColor1: #5bc0de;
  --lightColor2: #4abbdd;
  --borderColor: #c1c1c1;
  --mainText: #fff;
  --secondaryText: #338eda;
}
html,
body {
  padding: 0;
  margin: 0;
}
body * {
  transition: 0.3s;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--mainText);
  font-family: "Segoe UI", monospace, sans-serif;
  text-align: center;
}
p,
li,
span,
label,
input,
textarea {
  color: var(--mainText);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, monospace;
}

a {
  text-decoration: none;
}
section {
  padding-bottom: 2rem;
}
p {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, monospace;
}
.s1 {
  background: linear-gradient(
    45deg,
    var(--lightColor1),
    var(--lightColor2),
    var(--mainColor)
  );
  border-bottom: var(--borderColor);
  overflow: auto;
}
.s2 {
  background-color: var(--secondaryColor);
  border-bottom: var(--borderColor);
  overflow: auto;
}
.main-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
/* ------------------------------ HEADER -------------------------------- */
.main-head{
  color: var(--secondaryText);
}
.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
}
.social-links .link-icon {
  margin: 1rem;
  color: var(--secondaryText);
}
.s2 h2 {
  color: var(--secondaryText);
}
/* ------------------------------ ABOUT SECTION -------------------------------- */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.wrapper .content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}
.wrapper .content .about-img {
  width: 20vw;
  height: 20vw;
  /* border-radius: 50%; */
  object-fit: cover;
}
.wrapper .content .about-para {
  text-align: center;
  width: 40%;
  color: var(--mainText);
}
/* ------------------------------- EDUCATION SECTION ------------------------------------- */
.edu-wrapper {
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}
.edu-head,
.edu-batch,
.edu-domain,
.edu-list li {
  color: var(--mainText);
  margin: 0;
  margin-top: 3rem;
  text-align: center;
}
.edu-domain{
  width: 70%;
}

/* ------------------------------ EVENT SECTION ----------------------------------- */

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 15rem;
  background-color: var(--mainColor);
  color: var(--mainText);
  border-radius: 10px;
  margin: 1rem;
}
.card .card-content {
  margin: 0.5rem;
}
.card .card-img {
  width: inherit;
  height: 10rem;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card .card-head {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  color: var(--mainText);
}
.card .card-text {
  font-size: 0.9rem;
  width: 100%;
  color: var(--mainText);
}
.card .card-link {
  font-size: 0.9rem;
  border: 2px solid var(--mainText);
  padding: 0.2rem;
  border-radius: 15px;
  color: var(--secondaryText);
  background-color: var(--secondaryColor);
}

/* --------------------------- CONTACT FORM ----------------------------- */
.contact-form {
  width: 30%;
}
.input {
  width: 100%;
  margin: 1rem 0;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 0.8rem 0.5rem;
  background-color: #ffffff99;
}
.btn {
  background-color: var(--secondaryColor);
  color: #338eda;
  font-weight: bold;
  font-size: 1rem;
}
.copyright {
  margin-top: 5rem;
}
.dark {
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  margin: 1rem;
  font-size: 1rem;
  color: var(--secondaryText);
  background-color: var(--secondaryColor);
}

/* ------------------------------- MEDIA QUERIES --------------------------------- */
@media screen and (max-width: 768px) {
  section,
  header {
    min-height: 100vh;
  }
  .header-wrapper .social-links {
    margin-top: 5rem;
  }
  .main-container {
    width: 90%;
  }
  .wrapper .content .about-img {
    width: 50vw;
    height: 50vw;
  }
  .wrapper .content .about-para {
    width: 100%;
  }
  .wrapper .content {
    flex-direction: column;
  }
  .edu-head,
  .edu-batch,
  .edu-domain,
  .edu-list li {
    margin-left: 0;
  }
  .form-wrapper,
  .contact-form {
    width: 90%;
  }
}
